

body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-image: url(/public/images/BG_index.jpg);
  background-size: cover;

}
.center{
  margin: 0% auto;
}
.left{
  margin-left: 0;
  margin-right: auto;
}
.btn1{
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 15vmax;
  height: 5vmax;
  margin-top: 3vw;
  padding: 0%;
  transition: 0.5s 0.2s;
}
.btn1:hover{
  transform: scale(1.06, 1.06);
  box-shadow: 8px 3px 8px rgba(0,0,0,.3);
}

.box{
  width: 80vw;
  padding: 10px 10px;
  font-size: 20px;
  /* columns: #0000; */
  letter-spacing: 1px;
  border: none;
  top: 10vh;
  left: 10%;
  right: inherit;
  position: relative;
  margin-bottom: 30px;

  transform: translate(-50% -50%);
  background-color:rgba(255, 253, 253, 0.4);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 10px 10px rgba(0,8, 0, 0.4);
  
}
.box label{
  width: 100%;
  margin-bottom: 10px;
  /* border-bottom: solid  1px rgba(0, 0, 0, .3); */
}

.box th {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

.sidebar{
  margin: 0;
  padding: 0;
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: rgba(100, 100, 110, .9);
  left: -200px;
  transition:all 500ms ease-in-out;
}
#sidebar.active{
  left: 0;
}

#sidebar ul li {
  transition:all 1s ease-in-out;
  padding-left: 0;
  left: -32px;
  list-style-type: none;
  color: beige;
  background-color: rgba(130, 130, 130, 0.4);
  text-align: center;
  padding: 10px 15px;
  border-bottom: solid black;
}
#sidebar .toggle-btn{
  position: absolute;
  left: 230px;
  top: 20px;
  
}
#sidebar .toggle-btn span {
  padding: 10px;
  font-size: 200%;
  border: 1px solid black;
  cursor: pointer;
}


