<%- include ../layouts/indexHeader %> 


<div class="box">
  <div class="logo center">
    
    <label class="logo sec" >Profile</label>
  </div>
    <form action="submit" class=".form-control-lg">
        
        <div class="inputbox">
          <label class="left" for="">Nombres:</label>
          <input class="" type="text" name="name" ">
        </div>
        <div class="inputbox"><label class="left" for="">Apellidos:</label>
          <input class="" type="text" name="lastname" ">
        </div>
        <div class="inputbox">
          <label class="left" for="">Usuario:</label>
          <input class="" type="text" name="user" ">
        </div>
        <div class="inputbox">
          <label class="left" for="">Correo:</label>
          <input class="" type="email" placeholder="123@ejemplo.com" name="email" ">
        </div>
        <div class="inputbox">
          <label class="left" for="">Contraseña:</label>
          <input class="form-control" type="password" placeholder="" name="password" aria-label=".form-control-lg example">
        </div>
        <div class="inputbox">
          <label class="left" for="">Confirmar contraseña:</label>
          <input class="form-control" type="password" placeholder="" name="confPassword" aria-label="default input example">
        </div>
        <div>
          <div class="center">
            <input type="submit" class="btn btn1 btn-primary" value="Crear Cuenta">
        </div>
          <a href="">Log in</a>
        </div>
          
      </div>
      
    </form>
  </div>
<%- include ../layouts/indexFooter %> 