<%- include ../layouts/indexHeader %> 

<div class="box">
    <div class="logo">
        <label class="logo sec" >Log in</label>
    </div>
    <form action="submit" class="">
      <div class="inputbox">
        <label class="" for="">Usiario:</label>
          <input class="" type="text" placeholder="" >
      </div>
      <div class="inputbox">
        <label class="email" for="">email</label>
          <input class="" type="text" placeholder="" >
      </div>
      <div class="inputbox">
        <label class=""  for="">Contraseña:</label>
          <input class=" type="password" placeholder="" >
      </div>
      <div class="center">
          <input type="submit" class="btn1" value="ingresar">
      </div>
      <a href="">Editar cuenta</a>
        
      
      
    </form>
  </div>

<%- include ../layouts/indexFooter %> 