<%- include ../layouts/agendaHeader %> 
    <% if (login) { %>

        
      <div class="box">
        <div class="logo center">
          
          <label class="logo sec" >Crear Nota</label>
        </div>
          <form action="/agenda/createMemo" method="POST" class=".form-control-lg" name="userData">
              
              <div class="inputbox">
                <label class="left" for="">Titulo:</label>
                <input class="" type="text" name="title" id="title" required>
              </div>
              <div class="inputbox"><label class="left" for="">Descripcion:</label>
                <input class="" type="text" name="description" id="description" required>
              </div>
                <div>
                  <div class="center">
                    <input type="submit" class="btn btn1 btn-primary" id="btn" value="Crear Nota">
                </div>
                  <a href="">Log in</a>
                </div>
                  
              </div>
              
            </form>
      </div>


    <% } else { %>
        <h1><strong><%= id %> </strong></h1>
        <a href="logout">Ir al Login</a>
    <% } %> 
    
<%- include ../layouts/agendaFooter %> 